#mainContainer{
    max-width: 576px;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

.key-white{
    color: white;
}

.footer{
    width: 100vw;
    background-color: #f07948;
    padding: 2rem 0 2rem 0;
    margin-top: 2rem;
}

.btn-imp{
    text-decoration-color: white;
}


    .top-nav-m{
        top: 0;
        max-height: 48px;
        min-width: 100vw;
        display: flex;
        align-items: center;
        margin:0;
        padding: 0;
        position: fixed;
        justify-content: space-between;
        background-color: white;
        z-index: 100;
    }

    .top-nav-m h2{
        font-size: 20px;
        padding: 0;
        margin: 16px auto 12px 15px;
        color: #272727;
    }

    .top-nav-m svg{
        margin: 21px 21px 12px auto;
    }

    .content-con-m{
        margin-left: 16px;
        margin-right:16px ;
        padding: 0;
    }

    .content-con-m p{
        margin: 68px 0 0 0;
        padding: 0;
        font-size: 11px;
        line-height: 16px;
        font-weight: 300;
        color: #272727;
    }

    .card-m{
        background-color: white;
        box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        position: relative;
        margin-top: 19px;
    }

    .card-loc-m{
        display: flex;
        align-items: center;
    }

    .content-con-m .card-loc-m p{
        margin-top: 0;
        padding-top: 0;
        font-size: 9px;
        margin-right: 3px;
    }
    .content-con-m .card-loc-m svg{
        transform: scale(0.5);
    }

    .content-con-m .card-m h4{
        font-weight: 700;
        font-size: 11px;
        line-height: 16px;
        padding-top: 3px;
        margin: 6px auto 2px 7px;
        text-transform: uppercase;
    }

    .content-con-m .card-m a{
        background-color: #f07948;
        color: white;
        font-size:11px;
        padding: 6px 10px 5px 10px;
        border-radius:5px;
        font-weight: 700;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 9px;
    }

