section{
    min-height:100vh;
}

.key-white{
    color: white;
}

.btn-container{
    display: flex;
    overflow-x: scroll;
    padding: 20px 0 20px 0;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.btn-container::-webkit-scrollbar {
    display: none;
}

.bundesland-btn{
    white-space: nowrap;
   text-align: center;
   margin-right: 10px;
   background-color: #f07948;
   border: 0;
   border-radius: 5px;
   color: white;
   cursor: pointer;
}

.bundesland-btn:active, .bundesland-btn:hover{
    background-color: #a7502b;
}

.grid-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 10px; 
    grid-template-areas: 
    "name state city web"; 
    align-items: baseline;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    border-bottom: solid 1.5px black;
    padding: 0;
    margin: 0;
}


.name { grid-area: name; }
.state { grid-area: state; }
.city { grid-area: city; }
.web { grid-area: web; }

.name h3{
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.web a{
    font-size: 14öpx;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.web a:hover{
    color: #f07948;
}

.state .city p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#sorter{
    font-size: 14px;
    text-transform: capitalize;
    color: #f07948;
}

.footer{
    width: 100vw;
    background-color: #f07948;
    padding: 2rem 0 2rem 0;
    margin-top: 2rem;
}

.btn-imp{
    text-decoration-color: white;
}

.main-btn{
    text-decoration: none;
}

#explainer{
    display: grid;
}

@media screen and (max-width:576px){
    .grid-container {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 10px;
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
      }
      
      .name { grid-area: 1 / 1 / 2 / 2; }
      
      .state { grid-area: 2 / 1 / 3 / 2; }
      
      .city { grid-area: 3 / 1 / 4 / 2; }
      
      .web { grid-area: 4 / 1 / 5 / 2; }
      
    #explainer{
        display: none;
    }
}